{#
#}
{% if (is_home is not defined) and (is_term is not defined)%}
    <div class="jumbotron"> 
    {% endif %}         
    <div{{ attributes }}>
        {{ title_prefix }}
        {% if label %}
            <h2{{ title_attributes }}>{{ label }}</h2>
        {% endif %}
        {{ title_suffix }}
        {% block content %}
            {{ content }}
        {% endblock %}
    </div>
    {% if (is_home is not defined) and (is_term is not defined)%}
    </div>
{% endif %}  