{#
{{sdr.count}}-{{sdr.number}}
#}
{% if sdr.count == 0 %}
    <div class="col-md-4 col-md-offset-4">             
    {% elseif sdr.count == 1 %}
        {% if not sdr.number %}
            <div class="col-md-4">
            {% else %}
                <div class="col-md-4 col-md-offset-4">
                {% endif %}
            {% else %}
                <div class="col-md-4">
                {% endif %} 
                {% if isgerant is not defined and ispublic == false %} 

                {% else %}
                    <div class="page-header">
                        <h3 >
                            {% if isgerant is defined %}                    
                                <!-- modif content -->
                                <a type="button" class="btn btn-sm {% if isgerant %}btn-success{% else %}btn-danger{% endif %} glyphicon glyphicon-pencil" href="/node/{{ row.nid }}/edit" ></a>
                            {% endif %}
                            {{ fields.title.content }}
                    </div>
                    <div class="jumbotron" 
                         {% if language == 'ar' %}
                             align="right"
                         {% else %}
                             align="left"
                         {% endif %}
                         >
                        <ul ><li>
                                {{ language.getId() }}{{ fields.field_external_link.content }}
                            </li></ul>
                    </div>
                {% endif %}
            </div>
