{#
#}
<div class="{{ item.class|default('item') }}">
    <div class="view-item">
        <div class="calendar {{ item.granularity }}view">
            {{ item | calendar_stripe }}
            <div class="{{ item.date_id }} contents">
                {% for field in rendered_fields %}
                    {% if (index + 1) == 0 and item.continuation %}
                        <div class="continuation">&laquo;</div>
                    {% endif %}
                    {% for field_html in field %}
                        {{ field_html }}
                    {% endfor %}
                {% endfor %}
            </div>
            {% if item.continues %}
                <div class="continues">&raquo;</div>
            {% else %}
                <div class="cutoff">&nbsp;</div>
            {% endif %}
        </div>
    </div>
</div>
